<div id="about-info" class="section-info">
    <h2 id="about-header" class="section-header">
        About Chattest
    </h2>
    <p>
        <strong>Chattest</strong> is a rapidly-evolving
        <strong>free online</strong> <strong>chatroom</strong>
        service and <strong>chat room</strong>
        <strong>community</strong>, currently in its early
        stages. Our primary goal at <strong>Chattest</strong> is
        to provide a place where people who are lonely, bored
        or who just want to get to chat with some
        <strong>awesome</strong> <strong>random</strong>
        <strong>strangers</strong> can come together and enjoy each
        others' online company.
    </p>
    <p>
        <strong>Chattest</strong> is currently an experimental
        service that will continue to grow organically over time to
        better suit the needs of our users. Feedback from users to
        the development team is <i>highly encouraged</i>, as our
        goal is also to promote a service that strives to work with
        the user to create a better <strong>online chat</strong>
        experience together.
    </p>
    <p>
        <strong>Chattest</strong> was created and is based in
        Canada, but is open to <strong>English</strong> speakers
        from any part of the world. The site is currently
        supported by minimal ad content, so registration and use
        are both completely free.
    </p>
    <p>
        If you have any thoughts or concerns about the site or would
        just like to know more about <strong>Chattest</strong>, send
        an email to <a href="mailto:andy@chattest.ca">andy@chattest.ca</a>.
    </p>
    <p>
        If you've enjoyed using <strong>Chattest</strong>, come check us out on
        <a href="https://plus.google.com/104729485253345033541" rel="publisher">Google+</a>
        or
        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fchattest.ca">Facebook</a>.
    </p>
</div>
<div>
    <span id="about-back" class="page-link section-back">
        Back to Sign In
    </span>
</div>
<div id="about-footer" class="section-footer">
    About Chattest
</div>