html {
    text-align: center;
    font-family: verdana;
    height: 100%;
}
body {
    position: relative;
    display: inline-block;
    border-style: solid;
    padding: 0px 10px;
    border-radius: 50px;
    color: orange;
    border-width: 50px 3px;
    width: 85%;
    height: 500px;
    
}
.body-userops {
    max-width: 280px;
}
.body-userops.body-devdiary {
    max-width: 800px;
}
.body-expand {
    -webkit-transition: max-width 1s, margin-left 1s, height 0.5s;
    transition: max-width 1s, margin-left 1s, height 0.5s;
}
#header-main {
    position: relative;
    top: -67px;
    color: #FFFFFF;
}
#header-sub {
    font-size: 22px;
    margin: 10px 0px;
    font-style: italic;
}
.error-container {
    font-size: 17px;
    color: orangered;
    margin: 15px 0px;
}
.initial-message {
    color: orange;
}

/* Section Containers */

.section-container {
    margin: -67px 0px 10px;
    height: 100%;
}
.section-container-fade {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

/* Section Buttons */

.user-ops-button {
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 2px 1px;
}
#login-button {
    background-image: url("IcoMoon/32px/enter.png");
    margin: 0px 0px 15px;
    height: 40px;
    width: 40px;
}
#signup-button {
    background-image: url("IcoMoon/32px/pencil2.png");
    margin: 20px;
    height: 36px;
    width: 36px;
}

/* Section Info */

.section-info {
    overflow: auto;
    margin: 0px 0px 10px 0px;
    font-size: 12px;
    border-style: dashed;
    border-width: 1px;
}
#terms-info {
    height: 370px;
}
#about-info {
    height: 375px;
}
#privacy-info {
    height: 375px;
}
#devdiary-info {
    height: 88%;
    height: calc(100% - 60px);
    font-size: 16px;
}

/* Section Headers */

h2.section-header {
    margin: 0px;
}

/* Section Back Buttons */

.section-back {
    font-size: 18px;
}

/* Section Footers */

.section-footer {
    position: absolute;
    bottom: -40px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
#main-footer {
    left: 100px;
}
#terms-footer {
    left: 37px;
}
#about-footer {
    left: 45px;
    width: 210px;
}
#privacy-footer {
    left: 55px;
}
#signup-footer {
    left: 46px;
    width: 210px;
}
#devdiary-footer {
    position: relative;
    top: 20px;
}

.in-block {
    margin: 10px 0px;
}
input {
    margin: 5px;
    height: 2em;
    width: 224px;
    font-family: verdana;
    font-size: 16px;
}
.page-links {
    font-size: 17px;
    margin: 15px 0px;
}
.page-link {
    margin: 5px 0px;
    cursor: pointer;
    color: blue;
}
.page-link:hover {
    color: orangered;
}
#devdiary-link {
    font-size: 20px;
}
.login-signup-message {
    margin: 0px 0px 15px 0px;
    position: relative;
    font-size: 16px;
}

/* Mobile phone */
@media (max-width: 800px) {
    #devdiary-info {
        font-size: 14px;
    }
}

/* Mobile phone */
@media (max-width: 500px) {
    #devdiary-info {
        font-size: 13px;
    }
}

/*
Default Color Scheme (Orange)
orange
#FF5600
#FF8040
#A63800
#BF6030
#FFA273
*/