body {
    font-family: verdana;
    font-size: 13px;
}
#message-box {
    
}
#message-area {
    border-style: solid;
    padding: 1% 0% 1% 2%;
    margin: 2% 2% 5% 2%;
    border-width: 1px;
    border-radius: 20px;
    height: 80%; /* In case calc is not supported */
    overflow: auto;
}
#control-panel-area {
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: -27px;
    /* Prevents accidental button text highlighting */
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
#control-panel-tab {
    position: relative;
    bottom: 55px;
    height: 15px;
    width: 100%;
    left: 0px;
    text-align:center;
    font-weight: bold;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    cursor: pointer;
}
#control-panel {
    position: relative;
    bottom: 0px;
    width: 100%;
    left: 0px;
    bottom: 55px;
    height: 27px;
}
.control-panel-options {
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 20px 20px 0px;
    display: inline-block;
    position: absolute;
    font-size: 20px;
    cursor: pointer;
}
#color-options {
    z-index: 3;
}
#layout-options {
    left: 60px;
    z-index: 2;
}
#system-options {
    left: 158px;
    z-index: 1;
}
.control-panel-options-text {
    margin-right: 15px;
    margin-left: 15px;
}
#color-options-text {
    margin-left: 10px;
}
#layout-options-text{
    margin-left: 25px;
}
.control-panel-sub-options {
    position: absolute;
    display: inline-block;
    z-index: 0;
}
#color-options-buttons {
    left: 68px;
}
#color-options-pbc {
    left: 0px;
}
#color-options-mint {
    left: 80px;
}
#color-options-skyblue {
    left: 145px;
}
#layout-options-buttons {
    left: 100px;
}
#layout-options-speechbubbles {
    left: 0px;
    width: 180px;
}
#system-options-buttons{
    left: 95px;
}
#system-options-logout {
    width: 100px;
    left: 0px;
}
#input-toolbar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    padding: 10px 0px 10px 0px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    z-index: 3;
}
.user-icons {
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 2px 1px;
    cursor: pointer;
}
#send-msg-button {
    background-image: url("IcoMoon/32px/bubble2.png");
    height: 34px;
    width: 32px;
    margin-right: 1%;
    float: right;
}
#send-msg-container {
    overflow: hidden;
}
#send-msg {
    height: 2em;
    width: 98%;
    border-radius: 6px;
    font-family: verdana;
    font-size: 16px;
    margin-left: 1%;
}

.user-message-name {
    font-weight: bold;
}
.user-message-msg {
    
}
.user-message-dt {
    font-style: italic;
    font-size: 10px;
}

/* Color Schemes */

/* PB Chocolate | Palette: FF5600 FF8040 752201 ef551c yellow */
body {
    background-color: #FF5600;
}
#message-area {
    background-color: #FF8040;
}
.user-message-dt {
    color: yellow;
}
#control-panel-tab {
    border-color: #752201;
    background-color: #752201; /* In case the browser does not support gradients */
    background: linear-gradient(to bottom, #ef551c 35%, #752201 100%);
}
#control-panel {
    background-color: #ef551c;
}
.control-panel-option {
    border-color: #752201;
    background-color: #FF5600;
}
.control-panel-sub-option {
    border-color: #752201;
    background-color: #FF8040;
}
#input-toolbar {
    border-color: #752201;
    background-color: #752201;
    background: linear-gradient(to bottom, #752201 -10%,#ef551c 10%,#ef551c 70%,#752201 100%);
}

/* Mint | Palette: 25D500 3DA028 188A00 59EA3A 80EA69 lightblue */

.body-mint {
    background-color: #25D500;
}
.message-area-mint {
    background-color: #3DA028;
}
.user-message-dt-mint {
    color: lightblue;
}
.control-panel-tab-mint {
    border-color: #188A00;
    background-color: #188A00; /*In case the browser does not support gradients*/
    background: linear-gradient(to bottom, #59EA3A 35%, #188A00 100%);
}
.control-panel-mint {
    background-color: #59EA3A;
}
.control-panel-option-mint {
    border-color: #188A00;
    background-color: #3DA028;
}
.control-panel-sub-option-mint {
    border-color: #188A00;
    background-color: #25D500;
}
.input-toolbar-mint {
    border-color: #188A00;
    background-color: #188A00;
    background: linear-gradient(to bottom, #188A00 -10%,#59EA3A 10%,#59EA3A 70%,#188A00 100%);
}

/* Skyblue | Palette: 0772A1 225E79 024A68 3BA3D0 63AFD0 grey */

.body-skyblue {
    background-color: #0772A1;
}
.message-area-skyblue {
    background-color: #225E79;
}
.user-message-dt-skyblue {
    color: grey;
}
.control-panel-tab-skyblue {
    border-color: #024A68;
    background-color: #024A68; /*In case the browser does not support gradients*/
    background: linear-gradient(to bottom, #3BA3D0 35%, #024A68 100%);
}
.control-panel-skyblue {
    background-color: #3BA3D0;
}
.control-panel-option-skyblue {
    border-color: #024A68;
    background-color: #225E79;
}
.control-panel-sub-option-skyblue {
    border-color: #024A68;
    background-color: #0772A1;
}
.input-toolbar-skyblue {
    border-color: #024A68;
    background-color: #024A68;
    background: linear-gradient(to bottom, #024A68 -10%,#3BA3D0 10%,#3BA3D0 70%,#024A68 100%);
}

/* Responsive sizing and styles */

/* Tablet */
@media (max-width: 1100px) {
    .body {
        font-size: 12px;
    }
    #message-area {
        height: 80%;
        padding: 1% 0% 1% 4%;
        margin: 2% 2% 10% 2%;
    }
    #send-msg-button {
        margin-right: 2%;
    }
    #send-msg {
        width: 96%;
        margin-left: 2%;
    }
}

/* Mobile phone */
@media (max-width: 550px) {
    .body {
        font-size: 12px;
    }
    #message-area {
        height: 80%;
        padding: 1% 0% 1% 6%;
        margin: 5% 2% 20% 2%;
    }
    #send-msg-button {
        margin-right: 3%;
    }
    #send-msg {
        width: 94%;
        margin-left: 3%;
    }
}