html {
    text-align: center;
    font-family: verdana;
}
body {
    position: relative;
    border-style: solid;
    padding: 30px;
    position: absolute;
    width: 240px;
    height: 470px;
    border-radius: 70px;
    color: orange;
    text-align: center;
    top: 50%;
    margin-top: -278px;
    left: 50%;
    margin-left: -153px;
}
#header-main {
    margin: 5px 0px 0px 0px;
}
#header-sub {
    font-style: italic;
}
input {
    margin: 5px;
    height: 2em;
    width: 224px;
    font-family: verdana;
    font-size: 16px;
}
.user-ops-button {
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 2px 1px;
}
#login-button {
    background-image: url("IcoMoon/32px/enter.png");
    margin: 20px;
    height: 40px;
    width: 40px;
}
#signup-button {
    background-image: url("IcoMoon/32px/pencil2.png");
    margin: 20px;
    height: 36px;
    width: 36px;
}
#error-container {
    height: 66px;
    width: 240px;
    font-size: 17px;
    color: orangered;
    display: table-cell;
    vertical-align: middle;
}
#initial-message {
    color: orange;
}
#sign-in-message {
    position: relative;
    margin: 20px 0px 0px 0px;
}

/*
Default Color Scheme (Orange)
orange
#FF5600
#FF8040
#A63800
#BF6030
#FFA273
*/