/* A. Skyblue | Palette: 0772A1 225E79 024A68 3BA3D0 63AFD0 darkblue #4A86A1 
    2565AD lightblue */

body {
    background-color: #0772A1;
}
#user-list {
    background-color: #2565AD;
}
#user-list-names {
    background-color: lightblue;
}
#message-area {
    background-color: #4A86A1;
}
.user-message-dt {
    color: blue;
}
#control-panel-tab {
    border-color: #024A68;
    background-color: #024A68; /*In case the browser does not support gradients*/
    background: linear-gradient(to bottom, #3BA3D0 35%, #024A68 100%);
}
#control-panel {
    background-color: #3BA3D0;
}
.control-panel-option {
    border-color: #024A68;
    background-color: #225E79;
}
.control-panel-sub-option {
    border-color: #024A68;
    background-color: #0772A1;
}
#input-toolbar {
    border-color: #024A68;
    background-color: #024A68;
    background: linear-gradient(to bottom, #024A68 -10%,#3BA3D0 10%,#3BA3D0 70%,#024A68 100%);
    background: -webkit-linear-gradient(to bottom, #024A68 -10%,#3BA3D0 10%,#3BA3D0 70%,#024A68 100%); /* Chrome10+,Safari5.1+ */
}