/* L. Mint | Palette: 25D500 3DA028 188A00 59EA3A 80EA69 006D4F 52A529 #0AB00A */

body {
    background-color: #52A529;
}
#message-area {
    background-color: #71D45C;
}
.user-message-dt {
    color: #006D4F;
}
#control-panel-tab {
    border-color: #188A00;
    background-color: #188A00; /*In case the browser does not support gradients*/
    background: linear-gradient(to bottom, #59EA3A 35%, #188A00 100%);
}
#control-panel {
    background-color: #59EA3A;
}
.control-panel-option {
    border-color: #188A00;
    background-color: #0AB00A;
}
.control-panel-sub-option {
    border-color: #188A00;
    background-color: #25D500;
}
#input-toolbar {
    border-color: #188A00;
    background-color: #188A00;
    background: linear-gradient(to bottom, #188A00 -10%,#59EA3A 10%,#59EA3A 70%,#188A00 100%);
}