/* Mango S. | Palette: FFD349 FFC714 E9BA25 FFDE76 FFE79B C4950D 986900 E59711
    DD8E2B coral  */

body {
    background-color: #FFD349;
}
#user-list {
    background-color: #FFC714;
}
#user-list-names {
    background-color: #FFDE76;
}
#members-panel {
    background-color: #FFC714;
}
#members-panel-names-container {
    background-color: #FFDE76;
}
#message-area {
    background-color: #FFE79B;
}
.user-message-dt {
    color: coral;
}
#input-toolbar {
    border-color: #E9BA25;
    background-color: #E9BA25;
    background: linear-gradient(to bottom, #E9BA25 -10%, #FFD349 10%, #FFD349 70%, #E9BA25 100%);
}
.ui-widget-content {
    background: #DD8E2B !important;
}
.ui-widget-header {
    background: #EFAD36 !important;
}