/* L. Mint | Palette: 25D500 3DA028 188A00 59EA3A 80EA69 006D4F 52A529 #0AB00A 
    yellowgreen #5C8D1F */

body {
    background-color: #52A529;
}
#user-list {
    background-color: #71A234;
}
#user-list-names {
    background-color: #B1E449;
}
#message-area {
    background-color: #B1E449;
}
.user-message-dt {
    color: #006D4F;
}
#input-toolbar {
    border-color: #407127;
    background-color: #188A00;
    background: linear-gradient(to bottom, #194A00 -10%, #B1E449 10%, #B1E449 70%, #194A00 100%);
}
.ui-widget-content {
    background: #407127 !important;
}
.ui-widget-header {
    background: #52A529 !important;
    border-width: 0px !important;
}
.ui-dialog-buttonpane {
    border-color: white !important;
}