/* Strawberry C. | Palette: FF1F24 DD192C FF5B5B FF796E C10707 FF4040
    blueviolet */

body {
    background-color: #FF1F24;
}
#user-list {
    background-color: #DD192C;
}
#user-list-names {
    background-color: #FF5B5B;
}
#message-area {
    background-color: #FF796E;
}
.user-message-dt {
    color: blueviolet;
}
#input-toolbar {
    border-color: #C10707;
    background-color: #C10707;
    background: linear-gradient(to bottom, #C10707 -10%,#FF4040 10%,#FF4040 70%,#C10707 100%);
}
.ui-widget-content {
    background: #C10707 !important;
}
.ui-widget-header {
    background: #FF4040 !important;
    border-width: 0px !important;
}
.ui-dialog-buttonpane {
    border-color: white !important;
}