/* Tangerine M. | Palette: FF5600 FF8040 752201 ef551c yellow orangered */

body {
    background-color: #FF5600;
}
#user-list {
    background-color: orangered;
}
#user-list-names {
    background-color: #F46B26;
}
#message-area {
    background-color: #FF8040;
}
.user-message-dt {
    color: yellow;
}
#input-toolbar {
    border-color: orangered;
    background-color: orangered;
    background: linear-gradient(to bottom, #752201 -10%,#ef551c 10%,#ef551c 70%,#752201 100%);
}
.ui-widget-content {
    background: #FF5600 !important;
}
.ui-widget-header {
    background: #FF8040 !important;
    border-width: 0px !important;
}
.ui-dialog-buttonpane {
    border-color: white !important;
}